<div class="trade-container p-5">
    <div class="trade-ops mb-4">
        <div class="trade-filter me-3">
            <app-ngx-dropdown
                name="account"
                [items]="accounts"
                itemKey="displayName"
                [selectedItem]="accountModel"
                placeholder="Select Account"
                (selectedItemChange)="onAccountChange($event)"
            >
            </app-ngx-dropdown>
        </div>
        <div class="trade-ticket mb-4">
            <button type="button" id="createTicketBtn" class="btn btn-sm btn-primary mb-2" (click)="openTicket(ticketComponent)">
                Create Trade Ticket
            </button>
            <ng-template #ticketComponent>
                <app-trade-ticket [stocks]="stocks" [account]="accountModel" (create)="createTradeTicket($event)" (cancel)="closeTicket()">
                </app-trade-ticket>
            </ng-template>
            <alert
                *ngIf="createTicketResponse"
                [type]="createTicketResponse.success ? 'success' : 'danger'"
                [dismissible]="true"
                [dismissOnTimeout]="2000"
                (onClosed)="onCloseAlert()"
            >
                {{ createTicketResponse | json }}</alert
            >
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-4">
            <div class="alert alert-secondary py-2 px-3 mb-0">
                Total Portfolio Cost Basis:
                <strong>{{ portfolioSummary.totalCostBasis | currency:'USD':'symbol':'1.3-3' }}</strong>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="alert alert-secondary py-2 px-3 mb-0">
                Total Portfolio Value:
                <strong>{{ portfolioSummary.totalMarketValue | currency:'USD':'symbol':'1.3-3' }}</strong>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="alert py-2 px-3 mb-0" [ngClass]="portfolioSummary.totalPnl >= 0 ? 'alert-success' : 'alert-danger'">
                Total Net P&amp;L:
                <strong>{{ portfolioSummary.totalPnl | currency:'USD':'symbol':'1.3-3' }}</strong>
            </div>
        </div>
    </div>

    <div class="trade-blotter">
        <app-trade-blotter [account]="accountModel" class="trade-blotter-items me-2"> </app-trade-blotter>
        <app-position-blotter [account]="accountModel" class="position-blotter-items" (summaryChange)="onSummaryChange($event)"> </app-position-blotter>
    </div>
</div>
