<nav class="navbar navbar-expand-lg bg-body-tertiary text-bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <img width="50px" src="assets/img/2023_TraderX_Icon_WHT.png"/>
        <div style="font-size: 1.5em">FINOS | TraderX Sample Application</div>
        <img width="30px" src="assets/img/FINOS_Icon_White.png"/>
    </div>
</nav>

<ul class="nav nav-tabs mt-3">
    <li class="nav-item">
        <a class="nav-link" routerLink="/trade" routerLinkActive="active">Trade</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/account" routerLinkActive="active">Account</a>
    </li>
</ul>
